.main {
  margin: 20% 10% 15%;
}
.topcontainer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input {
  padding: 10px;
  margin: 2% 5%;
  width: 80%;
  border-radius: 10px;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: 2px solid grey;
  text-align: center;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  text-align: center;
  color: lightslategrey;
  -webkit-text-stroke-color: darkorchid;
  -webkit-text-stroke-width: 1px;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
body {
  background: linear-gradient(90deg, #c49e92, #d4789b, #36bff0, #23d5ab);
  background-size: 400% 400%;
  animation: smooth 6s ease-in-out infinite;
  height: 100vh;
}
@keyframes smooth {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
