.main {
  margin: 20% 10% 15%;
}
.topcontainer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottom-container {
  padding: 4% 5%;
}
.input {
  padding: 10px;
  margin: 2% 5%;
  width: 80%;
  border-radius: 10px;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border: 2px solid grey;
  text-align: center;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.8rem;
  text-align: center;
  color: lightslategrey;
  -webkit-text-stroke-color: rgb(63, 4, 92);
  -webkit-text-stroke-width: 1px;
}
p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
body {
  background: linear-gradient(90deg, #e65124, #d4789b, #36bff0, #0a266e);
  background-size: 400% 400%;
  animation: smooth 10s ease-in-out infinite;
  height: 100vh;
}
@keyframes smooth {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.footer {
  display: flex;
  justify-content: center;
  margin: 3% 5% 3%;
}
.wrapper {
  position: relative;
}
.wrapper :is(.btn, .link) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #151515;
  border-radius: 50%;
}
.btn {
  position: absolute;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.show .btn,
.btn:hover {
  outline: 3px solid #05ee20;
  outline-offset: -4px;
}
a {
  text-decoration: none;
  color: inherit;
}
.item {
  font-size: 25px;
  border-radius: 50%;
  padding-left: 24px;
  position: absolute;
  list-style: none;
  transition: transform 0.5s;
  transition-delay: var(--d);
}
.noShow {
  display: none;
}
.show {
  position: relative;
}

.show .item:nth-child(1) {
  position: absolute;
  padding: 5px;
  right: 1px;
  bottom: 50%;
  transform: translateX(55px);
  background-color: none;
  border-radius: 50%;
}
.show .item:nth-child(2) {
  transform: translateY(-65px);
  position: absolute;
  padding: 5px;
  right: 1px;
  bottom: 40%;
  background-color: #ba9cc1;
  border-radius: 50%;
  outline: solid 2px #cecbe0;
  outline-offset: -3px;
}
.show .item:nth-child(3) {
  transform: translateX(45px);
  position: absolute;
  padding: 5px;
  right: 31px;
  bottom: -10%;
  border-radius: 50%;
}

.link:hover {
  color: #ebe9e9;
  transition: background-color 0.5s;
}
.instagram:hover {
  padding: 5px;
  border-radius: 50%;
  background-image: radial-gradient(
    circle at 50% 120%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline: none;
}
.steam:hover {
  padding: 5px;
  background-image: radial-gradient(
    circle at 50% 120%,
    #201054 0%,
    #2f2868 5%,
    #63688a 45%,
    #6045a0 60%,
    #162658 90%
  );
  border-radius: 50%;
}
.github:hover {
  color: #6045a0;
}
