.main {
  margin: 20% 10% 15%;
}
.topcontainer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottom-container {
  padding: 4% 5%;
}
.input {
  padding: 10px;
  margin: 2% 5%;
  width: 80%;
  border-radius: 10px;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border: 2px solid grey;
  text-align: center;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.8rem;
  text-align: center;
  color: lightslategrey;
  -webkit-text-stroke-color: rgb(63, 4, 92);
  -webkit-text-stroke-width: 1px;
}
p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
body {
  background: linear-gradient(90deg, #e65124, #d4789b, #36bff0, #0a266e);
  background-size: 400% 400%;
  animation: smooth 10s ease-in-out infinite;
  height: 100vh;
}
@keyframes smooth {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.footer {
  display: flex;
  justify-content: center;
  margin: 3% 5% 3%;
}
.wrapper {
  position: relative;
}
.wrapper :is(.btn, .link) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #151515;
  border-radius: 50%;
}
.btn {
  position: absolute;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.show .btn,
.btn:hover {
  outline: 3px solid #0561ee;
  outline-offset: -4px;
}
.item {
  position: relative;
  list-style: none;
  transition: transform 0.5s;
  transition-delay: var(--d);
}
.wrapper.show .item:nth-child(1) {
  transform: translateX(-65px);
}
.wrapper.show .item:nth-child(2) {
  transform: translateY(-65px);
}
.wrapper.show .item:nth-child(3) {
  transform: translateX(65px);
}
.link:hover {
  color: #fff;
  transition: background-color 0.5s;
}
.ig:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.tw:hover {
  background-color: #1da1f2;
}
.sc:hover {
  background-color: #fffc00;
  color: inherit;
}
